
.lilDiv{
    border:solid; 
   
 }
 .bigDiv{
     width: 100vw;
     height: 100vh;
 
     grid-template-columns: .5fr .5fr 1fr .5fr .5fr;
     grid-template-rows: repeat(4,1fr);
  display: grid;
  grid-gap: 1px;
     grid-template-areas: "header3 header3  header3 header3 header3 "
                         "side3 grid3 grid3 grid3  aside3"
                         "side3 grid3 grid3 grid3 aside3"
                         "footer3 footer3 footer3 footer3 footer3"
 }
 .header3{
     grid-area: header3;
 }
 #conFour{
     font-size: 50px;
     font-family: 'Monoton', cursive;;
     text-align: center;
     color: cadetblue;

 }
 .side3{
     grid-area: side3;
     background: url("images/tate.gif")no-repeat;
 
 }
 .grid3{
     grid-area: grid3;
 }
 .col{
     display: inline-block;
     
 }
 /* grid set up  */
 .grid{
     width: 70px;
     height: 70px;
     background-color: turquoise;
     border: 4px dotted silver;
 }
 /* style where the dots will go */
.grid div{
   width: 50px;
   height: 50px;
   background-color: honeydew;
   padding: 4px;
   margin: 4px auto;
}
/* setting up first ball */
.skyblue div{
background-color: skyblue;
}
/* second ball */
.salmon div{
    background-color: salmon;
}
 .aside3{
     grid-area: aside3;
     background: url("images/ta.gif")no-repeat;
 
 }
 .footer3{
     grid-area: footer3;
 }